.FlowButton{
	-fx-background-color : transparent;
}

.scroll-bar{
	-fx-background-color : transparent;
	-fx-pref-width: 1.5em;
	-fx-opacity: 1;
}

.scroll-bar: vertical .thumb{
	-fx-background-color : rgba(196,196,196,0.4);
	-fx-pref-height: 10em;
	-fx-shape: "";
	-fx-background-radius : 0em;
}
.scroll-bar: vertical .track{
	-fx-background-color: transparent;
	-fx-opacity:1;
}

.scroll-bar :vertical .increment-button,
.scroll-bar :vertical .decrement-button{
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-border-color: black;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-border-color: black;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: rgba(196,196,196,0.7);
    -fx-opacity: 1;
}