.NumberKey{
	-fx-alignment : center;
	-fx-background-color : #dddddd;
	-fx-padding : 0.1em;
	-fx-min-width : 2em;
	-fx-min-height : 2em;
	-fx-max-width : Infinity;
	-fx-max-height : Infinity;
	-fx-text-fill :  black;
	-fx-font-family: 'Metropolis Semi Bold';
	-fx-font-style : normal;
	-fx-font-weight : normal;
	-fx-font-size :  110%;
}

.NumberKey :hover{
	-fx-border-color :  #01516e;
	-fx-border-width : 3px;
}

.NumberKey :pressed{
	-fx-background-color : black;
	-fx-text-fill : white;
}

.Matrix{
	-fx-background-color :  transparent;
	-fx-vgap : 5;
	-fx-hgap : 5;
	-fx-grid-lines-visible : false;
}
