
.root{
	-fx-text-fill : black;
	-fx-background-color : white;
	-fx-border-color : black;
	
}

.Container{ 
	-fx-background-color : white;
	-fx-padding : 0.5em 2em 2em 2em;
	-fx-Vgap : 1em;
	-fx-Hgap : 1em;
	

}


.TitleLabel{
	-fx-font-family : 'Metropolis Semi Bold';
	-fx-font-size : 40px;
	-fx-text-fill : white;
}

.SubTitleLabel{
	-fx-text-fill : black;
	-fx-font-family : 'Metropolis Semi Bold';
	-fx-font-size : 20px;
}

.MainButton{
	-fx-background-color :  #FF6B00;
	-fx-effect :  null;
	-fx-background-radius : 5em;
	-fx-pref-width : 15em;
	-fx-pref-height : 3.5em;

	-fx-text-fill : white;
	-fx-font-family : 'Metropolis Semi Bold';
	-fx-font-size : 17px;
}

.MainButton:hover{
	-fx-effect : dropshadow(gaussian, black, 7, 0, 1, 1);
}

.MainButton:pressed{
	-fx-background-color  : black;
	-fx-text-fill : white;
}

.GeneralLabel{
	-fx-text-fill : white;
	-fx-font-family : 'Metropolis';
	-fx-font-size : 25px;
}

.text-field{
	-fx-alignment : center-left;
	-fx-pref-height : 2.5em;
	-fx-min-height : 2.5em;
	-fx-max-height : 2.5em;
	
	-fx-background-color : -fx-grey1;
	-fx-font-family : 'Metropolis';
	-fx-font-size : 20px;
	-fx-text-fill : white;
}	

.PTable, .PTable *{	
	-fx-background-color : transparent;
	-fx-border-color : transparent;
	
	-fx-text-fill : white;
	-fx-font-family : 'Metropolis Semi Bold';
	-fx-font-size : 15px;
	-fx-border-width : 0;
	-fx-border-style: none;
	-fx-table-cell-border-color: transparent;
}

.PTable .placeholder, 
.PTable .placeholder .label{
	-fx-background-color : -fx-grey1;
	-fx-background-radius : 0 0 0 1em;
	-fx-text-fill : transparent;
	-fx-border-width : 0;
}

.table-column{
	-fx-alignment : center;
}


.PTable .column-header,
.PTable .column-header-background,
.PTable .column-header-background .filler {
	-fx-background-color : -fx-grey1;
	-fx-background-radius : 1em 0 0 0;
	-fx-text-filler : white;
}


.table-row-cell:odd,
.table-row-cell:even{
	-fx-background-insets : 1px;

	-fx-background-color : transparent;
	-fx-pref-width : 2em;
	-fx-min-width : 2em;
	
	-fx-font-family : 'Metropolis';
	-fx-font-size : 10px;
	-fx-text-fill : white;
}

.table-row-cell:hover{
	-fx-background-insets : 1px;

	
	-fx-background-color : -fx-grey2;;
	-fx-pref-width : 2em;
	-fx-min-width : 2em;
	
	-fx-font-family : 'Metropolis Semi Bold';
	-fx-font-size : 15px;
	-fx-text-fill : #AAAAAA;
}


.scroll-bar{
	-fx-background-color : transparent;
	-fx-pref-width: 1.5em;
	-fx-opacity: 1;
}

.scroll-bar: vertical .thumb{
	-fx-background-color : rgba(196,196,196,0.4);
	-fx-pref-height: 10em;
	-fx-shape: "";
	-fx-background-radius : 0em;
}
.scroll-bar: vertical .track{
	-fx-background-color: transparent;
	-fx-opacity:1;
}

.scroll-bar :vertical .increment-button,
.scroll-bar :vertical .decrement-button{
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-border-color: black;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-background-color: transparent;
	-fx-opacity: 0;
	-fx-border-color: black;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: rgba(196,196,196,0.7);
    -fx-opacity: 1;
}








